<div class="row">
    <div class="col-md-4">
        </div>
            <div class="col-md-4 text-center">
<h3 class="form-heading">비밀번호 찾기</h3>
<hr>
<p><%= flash[:alert] %></p>
<hr>

<form action="/users/change_passwd_complete" method="post">
  <p><input class="form-input" type="password" name="pw" placeholder="변경할 비밀번호"></p>

  <p><input class="form-input" type="password" name="pw_2" placeholder="비밀번호 확인"></p>
  <input class="btn btn-lg btn-block" type="submit" value="확인">
<input type="hidden" name="username" value="<%=params[:username]%>">

</form>

</div>
<div class="col-md-4">
</div>
</div>
</div>

