<div class="row">
 <div class="col-md-4">
  </div>
   <div class="col-md-4 text-center">
   <h3 class="form-heading">아이디 찾기</h3>
  <hr>
  <p><%= flash[:alert] %></p>
   <hr>
    <form action="/users/find_username_complete" method="post">
    <p><input class="form-input" type="text" name="name" placeholder="이름"></p>
    <p><input class="form-input" type="text" name="birth" placeholder="생년월일(예: 1999-03-22)"></p>

<input class="btn btn-lg btn-block" type="submit" value="입력">
 </form>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                    </div>
                                    </div>

