<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
 
<h2>안사고 뭐해</h2>
<ul>
  <% @cart.line_items.each do |item| %>
      <li><%=item.post.title %>:<%=item.post.content %></li>
    
   
        <% end %>
        </ul>


