<% @posts.reverse.each do |post| %>
<div class="panel"> <div class="row panel-body"><div class="col-md-3">
</div>
<div class="col-md-3 text-right">
<img src="<%= post.image_url(:thumb) %>">
</div>
<div class="col-md-6">
<span class="label label-warning"><%= post.category %></span>

<a href="/products/show/<%= post.id %>"><%= post.title %></a> 

</div>
</div>
</div>
        <% end %>
