<div class="container">
<div style="text-align:right">

<%if !session[:user_id].nil?%>
<%hh=User.find(session[:user_id])%>
<b><%=hh.name%></b>님 환영합니다!
<p><%=hh.point%> point</p>
<p><%=hh.money%> 원</p>
<%end%>
</div>
<br><br>
<h1 class="title"><a class="title-link" href="/"></a></h1>
  <div align="center"><p><img src="draw1.png" width="450" height="160"   alt=""></p></div></div>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="/top">상의</a></li>
      <li><a href="/bottom">하의</a></li>
      <li><a href="/dress">드레스</a></li>
      <li><a href="/outer">아우터</a></li>
      <li><a href="/accessory">악세사리</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if session[:user_id]==1 %>
      <li><a href="/products/write">상품추가</a></li>
      <% end %>
      <% if session[:user_id].nil? %>
      <li><a href="/users/signup">회원가입</a></li>
      <li> <a href="/users/login">로그인</a></li>
      <% else %>
      <li><a href="/users/logout_complete">로그아웃</a></li>
      <% end %>
      <li><a href="/carts/<%=session[:user_id]%>/show">장바구니</a></li>
      <li><a href="/comments/show">게시판</a></li>
       <% if session[:user_id]==1 =%>
      <li><a href="/admin/show">관리자</a></li>
       <%end%>

    </ul>
 </div>
</nav>

 
